<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connection" value="ws://localhost:8082/" />
  
    <add key="senderID" value="ESS14" />

    <!-- Random seed generator (you can use random value for random seed)-->
    <add key="seed" value="random" />

    <!-- Situation address-->
    <add key="place" value="Forskningsveien 1a, Oslo" />

    <!-- Radius of the simulation area (in meters) -->
    <add key="areaRadius" value="800" />

    <add key="patientsNumber" value="25" />

    <!-- Number of patients groups -->
    <add key="patientsGroupsNumber" value="7" />

    <!-- The patients are useally slow -->
    <add key="patientsSpeedRatio" value="0.2" />

    <!-- Number of resources -->
    <add key="resourcesNumber" value="40" />

    <!-- Number of resources groups-->
    <add key="resourcesGroupsNumber" value="9" />

    <!-- Resources can move fast -->
    <add key="resourcesSpeedRatio" value="1.2" />

    <!-- Speed of persons inside a group -->
    <add key="speedInsideGroup" value="0.1" />

    <!-- Here API settings -->
    <add key="HereAppId" value="UagcOxvkfpYoMLqLIMim" />
    <add key="HereAppCode" value="P448_k68ZS0v0FkLaa0f7Q" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="websocket-sharp" publicKeyToken="5660b08a1845a91e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.42943" newVersion="1.0.2.42943" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>