<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connection" value="wss://master-bridge.eu/thingmodel" />
  
    <add key="senderID" value="ESS16" />

    <!-- Random seed generator (you can use random value for random seed)-->
    <add key="seed" value="random" />

    <!-- Situation address-->
    <add key="place" value="Forskningsveien 1a, Oslo" />

    <!-- Radius of the simulation area (in meters) -->
    <add key="areaRadius" value="800" />    

    <!-- Here API settings -->
    <add key="HereAppId" value="UagcOxvkfpYoMLqLIMim" />
    <add key="HereAppCode" value="P448_k68ZS0v0FkLaa0f7Q" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="websocket-sharp" publicKeyToken="5660b08a1845a91e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.42943" newVersion="1.0.2.42943" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>