<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connection" value="ws://localhost:8181/EmergencySituationSimulator2013"/>
  
    <add key="senderID" value="ESS13"/>

    <!-- Random seed generator (you can use random value for random seed)-->
    <add key="seed" value="random"/>

    <!-- GPS localization of the simulation -->
    <add key="locationCenter" value="59.944821,10.712956"/>

    <!-- Radius of the simulation area (in meters) -->
    <add key="areaRadius" value="5500"/>

    <add key="patientsNumber" value="25"/>

    <!-- Number of patients groups -->
    <add key="patientsGroupsNumber" value="7"/>

    <!-- The patients are useally slow -->
    <add key="patientsSpeedRatio" value="0.2"/>

    <!-- Number of resources -->
    <add key="resourcesNumber" value="40"/>

    <!-- Number of resources groups-->
    <add key="resourcesGroupsNumber" value="9" />

    <!-- Resources can move fast -->
    <add key="resourcesSpeedRatio" value="1.2"/>

    <!-- Speed of persons inside a group -->
    <add key="speedInsideGroup" value="0.1"/>
  </appSettings>
</configuration>